In [1]:
import sys
sys.version

'3.10.8 (main, Nov 24 2022, 08:09:04) [Clang 14.0.6 ]'

In [2]:
%matplotlib inline

In [3]:
import matplotlib.pyplot as plt
plt.xkcd()

import pandas as pd
import numpy as np
import scipy as sp
import quandl
import functools
import seaborn as sns
import plotnine as p9
import statsmodels.api as sm
import math

pd.options.mode.chained_assignment = None

In [4]:
myAPIkey = "yourAPI"
quandl.ApiConfig.api_key = myAPIkey

In [5]:
start_date = "2014-12-01"
end_date = "2022-04-01"

In [133]:
def get_adj_close(ticker,start_date,end_date):
    
    df = quandl.get_table('QUOTEMEDIA/PRICES', ticker=ticker,date = {'gte':start_date, 'lte':end_date}) 
        
    df = df.sort_values(by='date')

    df = df[['date','adj_close']]
    df = df.rename(columns={'adj_close': ticker+'_adj_close'})
    
    df = df.set_index(['date'])

    return df


def fill_zacks_fc(ticker,start_date,end_date):
    
    df_fc = quandl.get_table('ZACKS/FC',ticker = ticker,per_end_date = {'gte':start_date,'lte':end_date})
    
    df_fc = df_fc[df_fc.per_type == 'Q']
    df_fc = df_fc[['per_end_date','filing_date','eps_diluted_net','basic_net_eps','net_lterm_debt','tot_lterm_debt']]
    df_fc = df_fc.sort_values(by='per_end_date')
    
    df_fc['date'] = df_fc['per_end_date']
    df_fc = df_fc.set_index(['date'])
    
    return df_fc


def fill_zacks_fr(ticker,start_date,end_date):
    
    df_fr = quandl.get_table('ZACKS/FR',ticker = ticker,per_end_date = {'gte':start_date,'lte':end_date})
    
    df_fr = df_fr[df_fr.per_type == 'Q']
    df_fr = df_fr[['per_end_date', 'tot_debt_tot_equity','ret_invst']]
    df_fr = df_fr.sort_values(by='per_end_date')
    
    df_fr['date'] = df_fr['per_end_date']
    df_fr = df_fr.set_index(['date'])
    
    df_fr = df_fr[['tot_debt_tot_equity','ret_invst']]
       
    return df_fr


def fill_zacks_mktv(ticker,start_date,end_date):
    
    df_mktv = quandl.get_table('ZACKS/MKTV',ticker = ticker,per_end_date = {'gte':start_date,'lte':end_date})
    
    df_mktv = df_mktv[['per_end_date', 'mkt_val']]
    df_mktv = df_mktv.sort_values(by='per_end_date')
    
    df_mktv['date'] = df_mktv['per_end_date']
    df_mktv = df_mktv.set_index(['date'])
    
    df_mktv = df_mktv[['mkt_val']]
    
    return df_mktv


def fill_zacks_shrs(ticker,start_date,end_date):
    
    df_shrs = quandl.get_table('ZACKS/SHRS',ticker = ticker,per_end_date = {'gte':start_date,'lte':end_date})
    
    df_shrs = df_shrs[['per_end_date', 'shares_out']]
    df_shrs = df_shrs.sort_values(by='per_end_date')
    
    df_shrs['date'] = df_shrs['per_end_date']
    df_shrs = df_shrs.set_index(['date'])
    
    df_shrs = df_shrs[['shares_out']]
    
    return df_shrs

In [7]:
def generate_zacks_data(ticker,start_date,end_date):
    
    df_fc = fill_zacks_fc(ticker,start_date,end_date)
    df_fr = fill_zacks_fr(ticker,start_date,end_date)
    df_mktv = fill_zacks_mktv(ticker,start_date,end_date)
    df_shrs = fill_zacks_shrs(ticker,start_date,end_date)
    
    df = df_fc.join(df_fr)

    df = df.join(df_mktv)
    df = df.join(df_shrs)
    
    return df

In [103]:
df_shrs = fill_zacks_shrs('LLY','2015-01-01','2022-01-31')

In [104]:
df_zack = generate_zacks_data('LLY','2015-01-01','2022-01-31')

In [105]:
df_price = get_adj_close('LLY','2015-01-01','2022-01-31')

In [106]:
df = df_price.join(df_zack,how='outer')

In [107]:
# df['LLY_adj_close'] =  df['LLY_adj_close'].fillna(method='bfill')
df['LLY_adj_close'] =  df['LLY_adj_close'].fillna(method='ffill')

In [108]:
df[df['filing_date'].notna()]

,LLY_adj_close,per_end_date,filing_date,eps_diluted_net,basic_net_eps,net_lterm_debt,tot_lterm_debt,tot_debt_tot_equity,ret_invst,mkt_val,shares_out
date,,,,,,,,,,,
2015-03-31,61.840466,2015-03-31,2015-04-30,0.50,0.50,2182.0,7415.3,0.5500,2.3679,80714.88,1111.01
2015-06-30,71.553956,2015-06-30,2015-07-30,0.56,0.56,2505.4,7988.6,0.5440,2.6474,92758.23,1111.01
2015-09-30,72.155475,2015-09-30,2015-10-30,0.75,0.75,2504.0,8069.6,0.5301,3.4306,92773.72,1108.54
2015-12-31,73.100618,2015-12-31,2016-02-19,0.45,0.45,2499.0,7972.4,0.5468,2.1203,93366.82,1108.08
2016-03-31,62.909043,2016-03-31,2016-04-29,0.41,0.41,NaN,7477.6,0.5407,1.9554,79534.33,1104.49
2016-06-30,69.257001,2016-06-30,2016-07-28,0.71,0.71,1206.5,8685.5,0.6367,3.2033,86978.59,1104.49
2016-09-30,71.031828,2016-09-30,2016-10-28,0.73,0.73,1206.4,8707.3,0.5987,3.1986,88603.02,1103.95
2016-12-31,65.517096,2016-12-31,2017-02-21,0.73,0.73,1206.4,8367.8,0.7319,3.4381,81195.52,1103.95
2017-03-31,75.424735,2017-03-31,2017-05-01,-0.10,-0.10,-630.2,7637.5,0.7265,-0.5096,92802.77,1103.35
2017-06-30,74.280032,2017-06-30,2017-07-28,0.95,0.95,1601.5,9867.9,0.8689,4.1934,90611.48,1100.99
2017-09-30,77.699017,2017-09-30,2017-10-27,0.53,0.53,1601.4,9926.6,0.9000,2.2325,94188.09,1101.10
2017-12-31,77.201629,2017-12-31,2018-02-20,-1.57,-1.58,1601.4,9940.5,1.1696,-7.1232,92998.91,1101.10
2018-03-31,71.237362,2018-03-31,2018-04-27,1.16,1.16,-800.3,9393.5,0.8019,4.8671,83979.73,1085.43
2018-06-30,79.110813,2018-06-30,2018-07-25,-0.25,-0.25,-1001.5,9170.5,1.0515,-1.1139,91643.57,1073.99
2018-09-30,100.035119,2018-09-30,2018-11-06,1.12,1.12,1476.2,11674.7,0.8958,4.2346,115249.86,1073.99
2018-12-31,108.427567,2018-12-31,2019-02-19,1.10,1.10,1468.6,9196.4,0.9440,5.5776,122584.51,1059.32
2019-03-31,122.232244,2019-03-31,2019-05-02,4.31,4.33,3848.3,13610.2,6.2242,3.4689,125975.02,970.83
2019-06-30,104.939413,2019-06-30,2019-08-02,1.44,1.44,3848.1,13717.6,5.5249,8.0073,106960.33,965.43
2019-09-30,105.924493,2019-09-30,2019-10-25,1.37,1.37,3848.0,13662.2,4.3975,7.3223,107371.45,960.13
2019-12-31,125.210310,2019-12-31,2020-02-19,1.77,1.64,3690.0,13817.9,5.6749,9.0555,126190.01,960.13
2020-03-31,132.844992,2020-03-31,2020-05-01,1.60,1.60,-276.3,13982.3,5.3892,8.4781,132678.73,956.45
2020-06-30,157.961332,2020-06-30,2020-07-31,1.55,1.55,712.3,15064.4,3.8221,7.3023,157033.30,956.47
2020-09-30,143.113852,2020-09-30,2020-10-28,1.33,1.33,1786.0,16334.6,3.3871,5.6651,141593.20,956.58
2020-12-31,164.100327,2020-12-31,2021-02-17,2.31,2.32,1785.8,16586.6,2.8489,9.4450,161509.22,956.58
2021-03-31,182.337461,2021-03-31,2021-04-30,1.49,1.49,NaN,16199.6,2.2825,5.8170,179165.14,959.03
2021-06-30,224.989689,2021-06-30,2021-08-03,1.53,1.53,NaN,14736.6,2.4784,6.4962,220115.53,959.03
2021-09-30,227.220184,2021-09-30,2021-10-27,1.22,1.22,505.5,15522.4,2.1480,4.7286,221020.67,956.59
2021-12-31,272.530716,2021-12-31,2022-02-23,1.88,1.90,505.4,15346.4,1.8444,7.0450,264229.97,956.59

In [109]:
df_tot_debt_tot_equity = df[['filing_date','tot_debt_tot_equity']].dropna()
# df_tot_debt_tot_equity.reset_index(inplace = True)
df_tot_debt_tot_equity

           filing_date  tot_debt_tot_equity
date
2015-03-31  2015-04-30               0.5500
2015-06-30  2015-07-30               0.5440
2015-09-30  2015-10-30               0.5301
2015-12-31  2016-02-19               0.5468
2016-03-31  2016-04-29               0.5407
2016-06-30  2016-07-28               0.6367
2016-09-30  2016-10-28               0.5987
2016-12-31  2017-02-21               0.7319
2017-03-31  2017-05-01               0.7265
2017-06-30  2017-07-28               0.8689
2017-09-30  2017-10-27               0.9000
2017-12-31  2018-02-20               1.1696
2018-03-31  2018-04-27               0.8019
2018-06-30  2018-07-25               1.0515
2018-09-30  2018-11-06               0.8958
2018-12-31  2019-02-19               0.9440
2019-03-31  2019-05-02               6.2242
2019-06-30  2019-08-02               5.5249
2019-09-30  2019-10-25               4.3975
2019-12-31  2020-02-19               5.6749
2020-03-31  2020-05-01               5.3892
2020-06-30  2020-07-31               3.8221
2020-09-30  2020-10-28               3.3871
2020-12-31  2021-02-17               2.8489
2021-03-31  2021-04-30               2.2825
2021-06-30  2021-08-03               2.4784
2021-09-30  2021-10-27               2.1480
2021-12-31  2022-02-23               1.8444

In [110]:
# df_tot_debt_tot_equity = df_tot_debt_tot_equity.rename(columns={'filing_date': 'date'})
# df_tot_debt_tot_equity = df_tot_debt_tot_equity.set_index(['date'])
# df_tot_debt_tot_equity

In [111]:
quarter_date = list(pd.date_range(start='2015-03-31', periods=28, freq='3M'))
quarter_date = [date_obj.strftime('%Y-%m-%d') for date_obj in quarter_date]
# quarter_date

In [112]:
# df_quarter_adj_close = df.loc[quarter_date]['LLY_adj_close']
# df_quarter_adj_close

In [113]:
df_tot_debt_tot_equity['quarter_adj_close'] = df.loc[quarter_date]['LLY_adj_close']

In [114]:
df_tot_debt_tot_equity

           filing_date  tot_debt_tot_equity  quarter_adj_close
date
2015-03-31  2015-04-30               0.5500          61.840466
2015-06-30  2015-07-30               0.5440          71.553956
2015-09-30  2015-10-30               0.5301          72.155475
2015-12-31  2016-02-19               0.5468          73.100618
2016-03-31  2016-04-29               0.5407          62.909043
2016-06-30  2016-07-28               0.6367          69.257001
2016-09-30  2016-10-28               0.5987          71.031828
2016-12-31  2017-02-21               0.7319          65.517096
2017-03-31  2017-05-01               0.7265          75.424735
2017-06-30  2017-07-28               0.8689          74.280032
2017-09-30  2017-10-27               0.9000          77.699017
2017-12-31  2018-02-20               1.1696          77.201629
2018-03-31  2018-04-27               0.8019          71.237362
2018-06-30  2018-07-25               1.0515          79.110813
2018-09-30  2018-11-06               0.8958         100.035119
2018-12-31  2019-02-19               0.9440         108.427567
2019-03-31  2019-05-02               6.2242         122.232244
2019-06-30  2019-08-02               5.5249         104.939413
2019-09-30  2019-10-25               4.3975         105.924493
2019-12-31  2020-02-19               5.6749         125.210310
2020-03-31  2020-05-01               5.3892         132.844992
2020-06-30  2020-07-31               3.8221         157.961332
2020-09-30  2020-10-28               3.3871         143.113852
2020-12-31  2021-02-17               2.8489         164.100327
2021-03-31  2021-04-30               2.2825         182.337461
2021-06-30  2021-08-03               2.4784         224.989689
2021-09-30  2021-10-27               2.1480         227.220184
2021-12-31  2022-02-23               1.8444         272.530716

In [115]:
df_tot_debt_tot_equity = df_tot_debt_tot_equity.rename(columns={'filing_date': 'date'})
df_tot_debt_tot_equity = df_tot_debt_tot_equity.set_index(['date'])
df_tot_debt_tot_equity

            tot_debt_tot_equity  quarter_adj_close
date
2015-04-30               0.5500          61.840466
2015-07-30               0.5440          71.553956
2015-10-30               0.5301          72.155475
2016-02-19               0.5468          73.100618
2016-04-29               0.5407          62.909043
2016-07-28               0.6367          69.257001
2016-10-28               0.5987          71.031828
2017-02-21               0.7319          65.517096
2017-05-01               0.7265          75.424735
2017-07-28               0.8689          74.280032
2017-10-27               0.9000          77.699017
2018-02-20               1.1696          77.201629
2018-04-27               0.8019          71.237362
2018-07-25               1.0515          79.110813
2018-11-06               0.8958         100.035119
2019-02-19               0.9440         108.427567
2019-05-02               6.2242         122.232244
2019-08-02               5.5249         104.939413
2019-10-25               4.3975         105.924493
2020-02-19               5.6749         125.210310
2020-05-01               5.3892         132.844992
2020-07-31               3.8221         157.961332
2020-10-28               3.3871         143.113852
2021-02-17               2.8489         164.100327
2021-04-30               2.2825         182.337461
2021-08-03               2.4784         224.989689
2021-10-27               2.1480         227.220184
2022-02-23               1.8444         272.530716

In [116]:
df_debt_to_market_cap = df[['LLY_adj_close']].join(df_tot_debt_tot_equity)

In [117]:
df_debt_to_market_cap

            LLY_adj_close  tot_debt_tot_equity  quarter_adj_close
date
2015-01-02      59.212581                  NaN                NaN
2015-01-05      58.629414                  NaN                NaN
2015-01-06      58.925223                  NaN                NaN
2015-01-07      58.511090                  NaN                NaN
2015-01-08      59.897168                  NaN                NaN
...                   ...                  ...                ...
2022-01-25     236.261694                  NaN                NaN
2022-01-26     234.683064                  NaN                NaN
2022-01-27     233.558291                  NaN                NaN
2022-01-28     241.826365                  NaN                NaN
2022-01-31     242.112491                  NaN                NaN

[1791 rows x 3 columns]

In [118]:
df_debt_to_market_cap['tot_debt_tot_equity'] = df_debt_to_market_cap['tot_debt_tot_equity'].fillna(method='ffill')
df_debt_to_market_cap['quarter_adj_close'] = df_debt_to_market_cap['quarter_adj_close'].fillna(method='ffill')
df_debt_to_market_cap

            LLY_adj_close  tot_debt_tot_equity  quarter_adj_close
date
2015-01-02      59.212581                  NaN                NaN
2015-01-05      58.629414                  NaN                NaN
2015-01-06      58.925223                  NaN                NaN
2015-01-07      58.511090                  NaN                NaN
2015-01-08      59.897168                  NaN                NaN
...                   ...                  ...                ...
2022-01-25     236.261694                2.148         227.220184
2022-01-26     234.683064                2.148         227.220184
2022-01-27     233.558291                2.148         227.220184
2022-01-28     241.826365                2.148         227.220184
2022-01-31     242.112491                2.148         227.220184

[1791 rows x 3 columns]

In [119]:
df_debt_to_market_cap['debt_to_market_cap'] = df_debt_to_market_cap['tot_debt_tot_equity']*df_debt_to_market_cap['LLY_adj_close']/df_debt_to_market_cap['quarter_adj_close']

df_debt_to_market_cap

,LLY_adj_close,tot_debt_tot_equity,quarter_adj_close,debt_to_market_cap
date,,,,
2015-01-02,59.212581,NaN,NaN,NaN
2015-01-05,58.629414,NaN,NaN,NaN
2015-01-06,58.925223,NaN,NaN,NaN
2015-01-07,58.511090,NaN,NaN,NaN
2015-01-08,59.897168,NaN,NaN,NaN
...,...,...,...,...
2022-01-25,236.261694,2.148,227.220184,2.233473
2022-01-26,234.683064,2.148,227.220184,2.218549
2022-01-27,233.558291,2.148,227.220184,2.207917
2022-01-28,241.826365,2.148,227.220184,2.286078
2022-01-31,242.112491,2.148,227.220184,2.288783

In [120]:
df_debt_to_market_cap.loc['2020-10-28']

LLY_adj_close          126.957708
tot_debt_tot_equity      3.387100
quarter_adj_close      143.113852
debt_to_market_cap       3.004730
Name: 2020-10-28 00:00:00, dtype: float64

In [123]:
df_debt_to_market_cap.loc['2020-10-29']

LLY_adj_close          128.156608
tot_debt_tot_equity      3.387100
quarter_adj_close      143.113852
debt_to_market_cap       3.033104
Name: 2020-10-29 00:00:00, dtype: float64

In [124]:
df_debt_to_market_cap.loc['2021-12-31']

LLY_adj_close          272.530716
tot_debt_tot_equity      2.148000
quarter_adj_close      227.220184
debt_to_market_cap       2.576338
Name: 2021-12-31 00:00:00, dtype: float64

In [95]:
3.004730/2.224891

1.350506609087816

In [96]:
4.755473/3.782411

1.2572597213787713

In [126]:
128.156608/126.957708

1.0094433021742957

In [127]:
4.755473/3.782411

1.2572597213787713

In [97]:
'2017-06-30' < '2017-12-29'

True

In [125]:
df_debt_to_market_cap[800:850]

,LLY_adj_close,tot_debt_tot_equity,quarter_adj_close,debt_to_market_cap
date,,,,
2018-03-05,71.541205,1.1696,77.201629,1.083845
2018-03-06,71.071630,1.1696,77.201629,1.076731
2018-03-07,71.301814,1.1696,77.201629,1.080218
2018-03-08,72.636882,1.1696,77.201629,1.100444
2018-03-09,73.299812,1.1696,77.201629,1.110488
2018-03-12,72.774992,1.1696,77.201629,1.102537
2018-03-13,72.876273,1.1696,77.201629,1.104071
2018-03-14,72.268587,1.1696,77.201629,1.094865
2018-03-15,72.507978,1.1696,77.201629,1.098491
2018-03-16,74.110059,1.1696,77.201629,1.122763
2018-03-19,72.489564,1.1696,77.201629,1.098212
2018-03-20,72.158099,1.1696,77.201629,1.093191
2018-03-21,72.038403,1.1696,77.201629,1.091377
2018-03-22,70.463944,1.1696,77.201629,1.067524
2018-03-23,68.834241,1.1696,77.201629,1.042835
2018-03-26,70.141686,1.1696,77.201629,1.062642
2018-03-27,69.662903,1.1696,77.201629,1.055389
2018-03-28,70.905897,1.1696,77.201629,1.074220
2018-03-29,71.237362,1.1696,77.201629,1.079242
2018-03-31,71.237362,1.1696,77.201629,1.079242
2018-04-02,69.699733,1.1696,77.201629,1.055947
2018-04-03,71.393888,1.1696,77.201629,1.081613
2018-04-04,72.369868,1.1696,77.201629,1.096399
2018-04-05,72.388283,1.1696,77.201629,1.096678
2018-04-06,70.758580,1.1696,77.201629,1.071988
2018-04-09,71.209740,1.1696,77.201629,1.078823
2018-04-10,72.940724,1.1696,77.201629,1.105048
2018-04-11,72.489564,1.1696,77.201629,1.098212
2018-04-12,73.005176,1.1696,77.201629,1.106024
2018-04-13,73.401093,1.1696,77.201629,1.112022
2018-04-16,73.769387,1.1696,77.201629,1.117602
2018-04-17,73.585240,1.1696,77.201629,1.114812
2018-04-18,73.401093,1.1696,77.201629,1.112022
2018-04-19,73.428715,1.1696,77.201629,1.112441
2018-04-20,72.793407,1.1696,77.201629,1.102816
2018-04-23,73.843046,1.1696,77.201629,1.118718
2018-04-24,73.741765,1.1696,77.201629,1.117183
2018-04-25,74.708538,1.1696,77.201629,1.131830
2018-04-26,76.006776,1.1696,77.201629,1.151498
2018-04-27,76.172509,0.8019,71.237362,0.857454
2018-04-30,74.644086,0.8019,71.237362,0.840249
2018-05-01,72.802614,0.8019,71.237362,0.819520
2018-05-02,72.581637,0.8019,71.237362,0.817032
2018-05-03,71.854256,0.8019,71.237362,0.808844
2018-05-04,72.185721,0.8019,71.237362,0.812575
2018-05-07,72.397490,0.8019,71.237362,0.814959
2018-05-08,72.627674,0.8019,71.237362,0.817550
2018-05-09,72.986761,0.8019,71.237362,0.821593
2018-05-10,74.450732,0.8019,71.237362,0.838072
2018-05-11,75.914702,0.8019,71.237362,0.854552

In [100]:
df_debt_to_market_cap[150:200]

,LLY_adj_close,tot_debt_tot_equity,quarter_adj_close,debt_to_market_cap
date,,,,
2015-08-07,70.508372,0.5301,72.155475,0.517999
2015-08-10,71.571097,0.5301,72.155475,0.525807
2015-08-11,71.596808,0.5301,72.155475,0.525996
2015-08-12,71.888200,0.5301,72.155475,0.528136
2015-08-13,71.586439,0.5301,72.155475,0.525920
2015-08-14,72.345153,0.5301,72.155475,0.531493
2015-08-17,71.965796,0.5301,72.155475,0.528707
2015-08-18,71.896822,0.5301,72.155475,0.528200
2015-08-19,72.224449,0.5301,72.155475,0.530607
2015-08-20,75.293794,0.5301,72.155475,0.553156
2015-08-21,72.879702,0.5301,72.155475,0.535421
2015-08-24,69.603435,0.5301,72.155475,0.511351
2015-08-25,67.473861,0.5301,72.155475,0.495706
2015-08-26,69.922440,0.5301,72.155475,0.513695
2015-08-27,72.198584,0.5301,72.155475,0.530417
2015-08-28,71.724387,0.5301,72.155475,0.526933
2015-08-31,71.000160,0.5301,72.155475,0.521612
2015-09-01,68.801612,0.5301,72.155475,0.505460
2015-09-02,70.534585,0.5301,72.155475,0.518192
2015-09-03,70.353528,0.5301,72.155475,0.516862
2015-09-04,69.249943,0.5301,72.155475,0.508754
2015-09-08,71.457113,0.5301,72.155475,0.524969
2015-09-09,69.913818,0.5301,72.155475,0.513631
2015-09-10,69.698274,0.5301,72.155475,0.512048
2015-09-11,70.525963,0.5301,72.155475,0.518129
2015-09-14,70.603559,0.5301,72.155475,0.518699
2015-09-15,71.526087,0.5301,72.155475,0.525476
2015-09-16,72.810728,0.5301,72.155475,0.534914
2015-09-17,77.578559,0.5301,72.155475,0.569941
2015-09-18,76.293918,0.5301,72.155475,0.560504
2015-09-21,75.517960,0.5301,72.155475,0.554803
2015-09-22,75.699016,0.5301,72.155475,0.556133
2015-09-23,74.742002,0.5301,72.155475,0.549102
2015-09-24,73.586686,0.5301,72.155475,0.540615
2015-09-25,72.474480,0.5301,72.155475,0.532444
2015-09-28,68.749881,0.5301,72.155475,0.505080
2015-09-29,69.215456,0.5301,72.155475,0.508501
2015-09-30,72.155475,0.5301,72.155475,0.530100
2015-10-01,73.440116,0.5301,72.155475,0.539538
2015-10-02,75.457607,0.5301,72.155475,0.554360
2015-10-05,74.638541,0.5301,72.155475,0.548342
2015-10-06,72.569319,0.5301,72.155475,0.533140
2015-10-07,72.414127,0.5301,72.155475,0.532000
2015-10-08,72.224449,0.5301,72.155475,0.530607
2015-10-09,74.267805,0.5301,72.155475,0.545619
2015-10-12,68.491229,0.5301,72.155475,0.503180
2015-10-13,68.646420,0.5301,72.155475,0.504320
2015-10-14,68.327415,0.5301,72.155475,0.501977
2015-10-15,68.853342,0.5301,72.155475,0.505840
2015-10-16,70.275932,0.5301,72.155475,0.516292

In [132]:
def fill_zacks_fc(ticker,start_date,end_date):
    
    df_fc = quandl.get_table('ZACKS/FC',ticker = ticker,per_end_date = {'gte':start_date,'lte':end_date})
    
    # print(list(df_fc.columns))
    df_fc = df_fc[df_fc.per_type == 'Q']
    # df_fc = df_fc.drop_duplicates(subset=['per_end_date', 'filing_date'])
    df_fc = df_fc[['per_end_date','filing_date','eps_diluted_net','basic_net_eps','net_lterm_debt','tot_lterm_debt']]
    # df_fc = df_fc.drop_duplicates(subset=['per_end_date', 'filing_date'])
    df_fc = df_fc.sort_values(by='per_end_date')
    
    df_fc['date'] = df_fc['per_end_date']
    df_fc = df_fc.set_index(['date'])
    
    return df_fc
    
df1 = fill_zacks_fc('LLY','2015-01-01','2022-01-31')
df1

,per_end_date,filing_date,eps_diluted_net,basic_net_eps,net_lterm_debt,tot_lterm_debt
date,,,,,,
2015-03-31,2015-03-31,2015-04-30,0.50,0.50,2182.0,7415.3
2015-06-30,2015-06-30,2015-07-30,0.56,0.56,2505.4,7988.6
2015-09-30,2015-09-30,2015-10-30,0.75,0.75,2504.0,8069.6
2015-12-31,2015-12-31,2016-02-19,0.45,0.45,2499.0,7972.4
2016-03-31,2016-03-31,2016-04-29,0.41,0.41,NaN,7477.6
2016-06-30,2016-06-30,2016-07-28,0.71,0.71,1206.5,8685.5
2016-09-30,2016-09-30,2016-10-28,0.73,0.73,1206.4,8707.3
2016-12-31,2016-12-31,2017-02-21,0.73,0.73,1206.4,8367.8
2017-03-31,2017-03-31,2017-05-01,-0.10,-0.10,-630.2,7637.5
2017-06-30,2017-06-30,2017-07-28,0.95,0.95,1601.5,9867.9
2017-09-30,2017-09-30,2017-10-27,0.53,0.53,1601.4,9926.6
2017-12-31,2017-12-31,2018-02-20,-1.57,-1.58,1601.4,9940.5
2018-03-31,2018-03-31,2018-04-27,1.16,1.16,-800.3,9393.5
2018-06-30,2018-06-30,2018-07-25,-0.25,-0.25,-1001.5,9170.5
2018-09-30,2018-09-30,2018-11-06,1.12,1.12,1476.2,11674.7
2018-12-31,2018-12-31,2019-02-19,1.10,1.10,1468.6,9196.4
2019-03-31,2019-03-31,2019-05-02,4.31,4.33,3848.3,13610.2
2019-06-30,2019-06-30,2019-08-02,1.44,1.44,3848.1,13717.6
2019-09-30,2019-09-30,2019-10-25,1.37,1.37,3848.0,13662.2
2019-12-31,2019-12-31,2020-02-19,1.77,1.64,3690.0,13817.9
2020-03-31,2020-03-31,2020-05-01,1.60,1.60,-276.3,13982.3
2020-06-30,2020-06-30,2020-07-31,1.55,1.55,712.3,15064.4
2020-09-30,2020-09-30,2020-10-28,1.33,1.33,1786.0,16334.6
2020-12-31,2020-12-31,2021-02-17,2.31,2.32,1785.8,16586.6
2021-03-31,2021-03-31,2021-04-30,1.49,1.49,NaN,16199.6
2021-06-30,2021-06-30,2021-08-03,1.53,1.53,NaN,14736.6
2021-09-30,2021-09-30,2021-10-27,1.22,1.22,505.5,15522.4
2021-12-31,2021-12-31,2022-02-23,1.88,1.90,505.4,15346.4