In [1]:
import sys
sys.version

'3.10.8 (main, Nov 24 2022, 08:09:04) [Clang 14.0.6 ]'

In [2]:
%matplotlib inline

import matplotlib.pyplot as plt
plt.xkcd()

import pandas as pd
import numpy as np
import scipy as sp
import quandl
import functools
import seaborn as sns
import plotnine as p9
import statsmodels.api as sm
import math

pd.options.mode.chained_assignment = None

In [3]:
from functions import *

In [4]:
def filter_by_sector(tickers_list_,new_ticker_list,zacks_sector_code_list,tickers_remove_list,start_date,end_date):

    for ticker in tickers_list_:

        if ticker in tickers_remove_list:
            continue

        df_fc = quandl.get_table('ZACKS/FC',ticker = ticker, per_end_date = {'gte':start_date,'lte':end_date},qopts={"columns":"zacks_sector_code"})

        if len(df_fc)!=0:
            sector_code_list = list(df_fc['zacks_sector_code'])

            if bool(set(zacks_sector_code_list) & set(sector_code_list))==False:
                new_ticker_list.append(ticker)

    return new_ticker_list

In [5]:
start_date = '2014-06-30'
end_date = '2022-06-30'

df_tickers = pd.read_csv("zacks-tickers.csv")
tickers_list = list(df_tickers['3262Q'])

zacks_sector_code_list = [5,13]
tickers_remove_list = ['ABEO']

new_ticker_list = []
new_ticker_list = filter_by_sector(tickers_list[2000:3000],new_ticker_list,zacks_sector_code_list,tickers_remove_list,start_date,end_date)

# new_ticker_list

In [6]:
df_new_ticker3 = pd.DataFrame(new_ticker_list, columns =['ticker'])

In [7]:
df_new_ticker3

    ticker
0    CRPJY
1    CRPOF
2     CRRC
3    CRRFY
4    CRRSQ
..     ...
577    FCS
578   FCSC
579  FCUUF
580   FCUV
581    FCX

[582 rows x 1 columns]

In [8]:
df_new_ticker3.to_csv('filter_by_sector_3000.csv',index=False)

In [9]:
new_ticker_list7 = []
new_ticker_list7 = filter_by_sector(tickers_list[6000:7000],new_ticker_list,zacks_sector_code_list,tickers_remove_list,start_date,end_date)

df_new_ticker7 = pd.DataFrame(new_ticker_list, columns =['ticker'])
df_new_ticker7.to_csv('filter_by_sector_7000.csv',index=False)

In [10]:
len(df_new_ticker7)

1158

In [4]:
def filter_by_adj_close(tickers_list_,start_date,end_date,num):

    filter_by_adj_close_list = []

    for ticker in tickers_list_:
        df1 = get_adj_close(ticker,start_date,end_date)
        if len(df1) == num:
            filter_by_adj_close_list.append(ticker)

    return filter_by_adj_close_list


start_date = '2014-06-30'
end_date = '2022-06-30'

df7 = pd.read_csv("filter_by_sector_7000.csv")
ticker_list7 = list(df7['ticker'])
print(len(ticker_list7))

filter_by_adj_close_list7 = filter_by_adj_close(ticker_list7,start_date,end_date,2016)

1158

In [5]:
df_new_ticker7 = pd.DataFrame(filter_by_adj_close_list7, columns =['ticker'])
df_new_ticker7.to_csv('filter_by_adj_close_7000.csv',index=False)

In [6]:
len(df_new_ticker7)

440

In [10]:
def filter_by_debt_ratio(df_ticker,start_date,end_date):

    df_ticker['debt_ratio_greater_than_0.1'] = 0

    for i in range(len(df_ticker)):

        ticker = df_ticker['ticker'][i]

        df_zack = generate_zacks_data(ticker,start_date,end_date)
        df_price = get_adj_close(ticker,start_date,end_date)

        df = df_price.join(df_zack,how='outer')
        df['adj_close'] =  df['adj_close'].fillna(method='ffill')

        df1 = debt_to_market_cap(df,df_zack)

        count = df1[['debt_to_market_cap']][df1[['debt_to_market_cap']]  > 0.1].count()

        df_ticker['debt_ratio_greater_than_0.1'][i] = count

        # if i==100:
        #     break

    return df_ticker

In [11]:
df_ticker_adj_close = pd.read_csv("filter_by_adj_close.csv")
print(len(df_ticker_adj_close))

df_ticker_adj_close = df_ticker_adj_close[1000:1500]
df_ticker_adj_close.reset_index(inplace=True)
print(len(df_ticker_adj_close))

df_ticker_debt_ratio3 = filter_by_debt_ratio(df_ticker_adj_close,start_date,end_date)

1975
500

In [12]:
df_ticker_debt_ratio3

     index ticker  debt_ratio_greater_than_0.1
0     1000   DLTR                         1990
1     1001    DLX                         2001
2     1002   DMLP                            0
3     1003   DMRC                          132
4     1004    DNN                            0
..     ...    ...                          ...
495   1495    HCA                          484
496   1496   HCCI                         1602
497   1497   HCKT                          886
498   1498   HCSG                          537
499   1499     HD                         1495

[500 rows x 3 columns]

In [13]:
df_ticker_debt_ratio3.to_csv('filter_by_debt_ratio_3.csv',index=False)